.bottom-inner-wrapper{
	padding: 20px 0; 
}
.settings{
	padding: 0 30px 0 0;
}
.settings-wrapper{
	margin-left: 15px;
	padding-left: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #d8d8d8;
}
.add-accounts{
	margin-top: 20px;
}
.add-accounts>div{
	margin-left: 10px;
}
.settings-wrapper:last-child{
	border-bottom: none;
}
.settings-wrapper>div{
	padding-left: 0;
}
.settings-wrapper:nth-of-type(1)>div{
	padding-right: 5px;
}
.settings-wrapper .img-holder{
	padding-left: 0;
	margin-left: -10px;
}
.settings-wrapper img{
	margin-bottom: 10px;
	float: right; 
	padding: 23px;
	background: #e43f3f;
}
.settings-wrapper label, .settings-wrapper.user-data p{
	margin: 0 0 15px 0;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #e43f3f;
	color: #fff;
	font-weight: bold;
}
.settings-wrapper input{
	height: 32px;
	margin: 0 0 15px 0;
	border: 2px solid #e43f3f;
}
.settings-wrapper label.small-margin{
	margin-bottom: 5px;
}
.settings-wrapper:nth-of-type(1) input{
	margin-bottom: 15px;
}
.settings-wrapper h5{
	padding-top: 8px;
	padding-bottom: 8px; 
	background: #e43f3f;
	color: #fff;
	font-weight: bold;
}
.settings-wrapper textarea{
	height: 150px;
	margin-bottom: 10px;
	resize: none;
	border: 1px solid #d8d8d8;
}
.settings-wrapper.user-data{
	margin-top: 30px;
}
.settings-wrapper.user-data label, .settings-wrapper.user-data p{
	padding: 6px 0;
	background: #363636;
}
.settings-wrapper.user-data input{
	border: 2px solid #363636; 	
}
.settings-wrapper.user-data .radio{
	padding: 4px 0;
	background: #e43f3f;
	border: 2px solid #363636;
	cursor: pointer;
}
.settings-wrapper.user-data .radio:nth-of-type(odd){
	border-right: none;
}
.settings-wrapper.user-data .radio.active, .settings-wrapper.user-data .radio:hover, .settings-wrapper input[type="submit"]:hover{
	background: #363636;
}
.settings-wrapper input[type="radio"]{
	position: absolute;
	visibility: hidden;
}
.settings-wrapper input[type="submit"]{
	margin: 10px 0;
	float: right;
	background: #e43f3f;
	color: #fff;
	font-weight: bold;
	border: none;
}
.listed-players{
	padding: 0;
}
.listed-players>div{
	width: 120px;
	cursor: pointer;
}
.listed-players>div>div{
	padding: 0;
}
.listed-players h6{
	font-style: italic;
}
.listed-players img{
	width: 120px;
	margin-bottom: 2px;
	padding: 0;
	border: 3px solid #363636;
}
.listed-players div.progress.latest-matches-box-bar span{
	margin-left: -18px;	
}
.listed-players>div div:hover .latest-matches-box-bar span{
	opacity: 1;
}
.listed-players>div div:hover img{
	opacity: 0.5;
}
.listed-players>div div:hover p{
	background: #e43f3f;
}
.listed-players p{
	background: #363636;
	color: #fff;
	font-size: 12px;
	font-style: italic;
}
.listed-players button{
	height: 32px;
	margin: 5px 0;
	background: #363636;
	color: #fff;
	border: none;
	font-weight: bold;
}
.listed-players button:hover, .listed-players button.selected{
	background: #e43f3f;
}
@media screen and (min-width: 480px){
	.settings-wrapper:nth-of-type(1) label{
		margin-bottom: 14px;
	}
	.settings-wrapper:nth-of-type(1) input{
		margin-bottom: 0;
	}
}
@-moz-document url-prefix() {
	.listed-players div.progress.latest-matches-box-bar span{
		margin-left: -64px;	
	}
}
@media screen and (min-width: 990px){
	.add-account{
		margin-left: 0;
	}
}